node_red_data/flows.json
[{"id":"360991c2.d1854e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"12b452fa.fb4d2d","type":"tab","label":"HTTP to MQTT","disabled":false,"info":""},{"id":"23430725.0d11d8","type":"mqtt-broker","name":"localhost","broker":"145.93.137.12","port":"1883","tls":"95c81e893a3a098a","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7def3f415255dc94","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"95c81e893a3a098a","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"d70f350d.85e518","type":"mqtt in","z":"360991c2.d1854e","name":"","topic":"#","qos":"1","datatype":"json","broker":"23430725.0d11d8","nl":false,"rap":true,"rh":0,"x":230,"y":300,"wires":[["905d550d.428ac8","4bc9ef1f.e3c78"]]},{"id":"905d550d.428ac8","type":"debug","z":"360991c2.d1854e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":260,"wires":[]},{"id":"51d74187.e67b4","type":"http request","z":"360991c2.d1854e","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"localhost:8761/plantdata","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":300,"wires":[["ba8b7f96.d9cd5"]]},{"id":"4bc9ef1f.e3c78","type":"function","z":"360991c2.d1854e","name":"","func":"\nmsg.headers = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":340,"wires":[["51d74187.e67b4"]]},{"id":"ba8b7f96.d9cd5","type":"debug","z":"360991c2.d1854e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":300,"wires":[]}]